body{
    
    background-color: blueviolet; ;
}

.container{
   
    background-image: url(/images/checklist.jpg); 
    background-repeat:no-repeat;
    background-size:cover;
}
h1{
    padding: 10px;
    text-align: center;
    font-family: cursive;
    color: black;
    animation: stroke-offset 5.5s infinite linear;
    text-shadow: 1px 1px orangered, 
                2px 2px red, 
                3px 3px pink;
}

h2{
    font-weight: bolder;
}



#logreg-forms{
    width:auto;
    max-width:412px;
    margin:10vh auto;
    background-color:#f3f3f313;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.527), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  
}
#logreg-forms form {
    width: 100%;
    max-width: 410px; 
    padding: 15px;
    margin: auto;
}
#logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-login input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#logreg-forms .form-login input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#logreg-forms .social-login{
    width:auto;
    /* max-width:390px; */
    margin:0 auto;
    margin-bottom: 14px;
}
#logreg-forms .social-btn{
    font-weight: 100;
    color:white;
    width:190px;
    font-size: 0.9rem;
    margin: auto;
    margin-left: auto;
}


#logreg{
    display: block;
    padding-top:10px;
    color:lightseagreen; 
}

#logreg-form .lines{
    width:200px;
    border:1px solid red;
}


#logreg-forms button[type="submit"]{ margin-top:10px; }

#logreg-forms .facebook-btn{  background-color:#3C589C; }

#logreg-forms .google-btn{ background-color: #DF4B3B; }


@media screen and (max-width: 600px) {
    .col md-8, .col md-4, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
